/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider{ height: 100vh; position: relative; z-index: 1; 
	background-image: url(../../images/cover_1.jpg); background-size: cover; color: #fff; } 

.main-slider:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
	z-index: -1; background: rgba(0,0,0,.3); }

.slider-content .date{ margin: 10px 0 0; }

.slider-content i{ line-height: 1; }

.slider-content i.small-icon{ font-size: 2.5em; }

.slider-content .title i{ transform: translateY(10px); font-size: .8em; color: #E45F74; }

/* ---------------------------------
7. WEDDING DETAILS AREA
--------------------------------- */

.wedding-details{ overflow: hidden; position: relative; }

.wedding-details:after{ content:''; position: absolute; top: 0; bottom: 0; left: 50%; margin-left: -.5px;
	width: 1px; background: #ccc; }

.w-detail{ width: 50%; padding: 0 50px; margin-bottom: 30px; position: relative; clear: both; margin-top: -40px; }

.w-detail:first-child{ margin-top: 0; }

.w-detail:last-child{ margin-bottom: 0; }

.w-detail:after{ content:''; position: absolute; top: 0; height: 18px; width: 18px; border-radius: 20px;
	z-index: 1; border: 1px solid #aaa; background: #fff; }

.w-detail.right{ text-align: left;  float: right; }

.w-detail.right:after{ left: 0; margin-left: -9px; }
	
.w-detail.left{ text-align: right;  float: left; }

.w-detail.left:after{ right: 0; margin-right: -9px; }
	
.w-detail .title{ margin: 10px 0; }

.w-detail .icon{ font-size: 3.5em; line-height: 1; color: #4D1104; }
