/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider{ height: 500px; position: relative; z-index: 1; 
    background-image: url(../../images/cover_2.jpg); background-size: cover; color: #fff; } 

.main-slider:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
    z-index: -1; background: rgba(0,0,0,.3); }

.main-slider .slider-content .title{ margin-bottom: 20px; }

.main-slider .slider-content i{ margin-right: 10px; transform: translateY(3px); }

/* ---------------------------------
5. CONTENT AREA
--------------------------------- */
.regular-area li{ list-style: none; display: block; }
.regular-area{ position: relative; z-index: 10; }

.regular-area .content{ padding: 40px 70px; box-shadow: 2px 10px 20px rgba(0,0,0,.2); background: #fff; }

.content .margin-top-btm{ margin: 20px 0; }

.content .parking-info {
  padding-bottom: 5px;
}

#map-hope {
  height: 400px;
  width: 100%;
}

.question {
  font-weight: 800;
}

.faq .row {
  padding: 10px 0 10px 0;
}
