	/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider{ height: 80px; position: relative; z-index: 1; color: #fff; } 

.main-slider:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
	z-index: -1; background: rgba(0,0,0,.3); }

.main-slider .pre-title{ color: #E45F74; }


/* ---------------------------------
5. CONTACT AREA
--------------------------------- */

.rsvp-area{ position: relative; z-index: 1; }

.rsvp-area:after{ content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1;
	opacity: .8; background-image: url(../../images/cover_6.jpg);background-size: cover; color: #fff; }
	/*background: url(../../images/Background_Circle.png); }*/

.rsvp-area .phone{ margin: 10px 0; color: #E45F74; }

.rsvp-area .email{ margin: 10px 0; }

.rsvp-area .contact-form{ padding: 50px 40px; border-radius: 5px; box-shadow: 1px 15px 40px rgba(0,0,0,.3); 
	background: #fff; }

.rsvp-area .rsvp-container {
	height: 800px;
}
